<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		#barra{
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			list-style: none;
		}
		#barra li{
			display: inline;
			margin: 0 20px
		}
	</style>	
</head>
<body>
	<ul id="barra">
		<li>Home</li>
		<li>Servicios</li>
		<li>Quienes Somos</li>
		<li>Contactos</li>
		<li>Acerca de</li>
	</ul>
	
</body>
</html>